@{
    ViewData["Title"] = "Other Service Page";
}

@model FormViewModel

<h2>Upload to Azure</h2>
<hr>
<form asp-controller="Service" asp-action="Submit" method="POST">
    <div class="form-group">
        <label>Upload your file</label>
        <input asp-for="filePath" type="file" class="form-control"/>

        <button type="submit">Submit</button>
    </div>
</form>
<hr>
@{
    if(ViewData["error"] != null)
    {
        <h3 style="color:red">
            @ViewData["error"]
        </h3>
    }
}
<h2>Recent Requests</h2>
<div>
@{
    if(ViewData["last-result-json"] != null)
    {
        <h4>FilePath</h4>
        @ViewData["last-result-file"]
        <h4>JSON</h4>
        @ViewData["last-result-json"]        
    } else {
        <p>Nothing to see here...</p>
    }
}   
</div>