@{
    ViewData["Title"] = "Results Page";
}

@model ResultViewModel

<h2>Here is the result</h2>
<hr>

<img src="@Model.filePath" alt="The given image" class="result-image" />

<p>@Model.jsonResult</p>