@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    This application makes use of multiple Azure services to show an example implementation of CosmosDB and the Cognitive Services
    Emotion API using .NET Core.    CosmosDB is used as a log in this scenario, where each request's results are stored along with the original 
    file path.
</p>
<h4>.NET Core</h4>
<ul>
    <li>
        A new modular, open-source, cross-platform version of the .NET Framework. It distinguishes itself from 
        the original .NET by having improved dependency management, the ability to run multiple versions in parallel, and by 
        being self-contained and lightweight. When you ship a .NET Core application, the entire framework is included in the 
        packaging. Being only a few megabytes in size, this allows for assured versioning and not having to rely on the host OS.
    </li>
</ul>
<h4>CosmosDB</h4>
<ul>
    <li>
        A NoSQL database service provided by Microsoft.
    </li>
</ul>
<h4>Cognitive Services</h4>
<ul>
    <li>
        A series of APIs that provide machine learning models for you. In this case we'll be using 
        one that tries to identify a face, or faces, in a picture and analyze their emotions.
    </li>
</ul>
